body {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Walter Turncoat";
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

#header {
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);
}



#logo {
        display: flex;
        justify-content: center;
        height: 100px;
}

#logo1 {
    height: 60px;
    margin-top: 5px;
}

#logo2 {
    height: 60px;
    margin-top: 5px;
    margin-left: 60px;
}

#main_row {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.835);
    border-top: 2px solid rgba(0, 0, 0, 0.623);
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);
    margin-top: 14%;
}

#questions {
    background-color: rgba(255, 255, 255, 0.835);
    margin-top: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.623);
    border-radius: 100px;
}

footer {
    padding-top: 2px;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.835);
    color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-weight: 600;
    border-top: 2px solid rgba(0, 0, 0, 0.623);
}

.form-group  {
    max-width: 820px;
    margin-left: 20px;
    margin-right: 20px;
}

.button-primary {
    margin-left: 20px;
}

legend {
    display: flex;
    justify-content: center;
    font-size: 25px;
    
    font-weight: 600;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: 600;
}

#questionList {
    font-size: 18px;
    font-weight: 600;
}

.name-tag {
    width: 390px;
    float: left;
}

.url-tag {
    width: 390px;
    float: left;
}

#buttonSbmt {
    width: auto;
    display: flex;
    justify-content: center;
}

.button-primary {
    width: 500px;
    height: 35px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.835);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.button-primary:hover {
    background-color: rgba(255, 255, 255, 0.835);
    color: rgba(0, 0, 0, 0.835);
}

.form-control {
    border-color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.form-control:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.623);
}








